*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Raleway';
}

.container {
	max-width: 1240px;
	padding: 0 3%;
	margin: 0 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 2%;
	text-transform: uppercase;
}

p {
	line-height: 1.47;
}

/*HEADER*/
.header {
	height: 56px;
	position: fixed;
	z-index: 1;
	top: 40px;
	background-color: black;
	width: 100%;
	transition: transform 1s;
}

/*FADES IN*/ 
.roll-right {
	transform: translate(100vw);
}

.container--header {
	display: flex;
	height: 100%;
	max-height: 56px;
}

.header-logo {
	width: 50%;
	position: relative;


	&__img {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.nav {
	width: 50%;
	font-family: 'Raleway';
  	font-size: 19px;
  	font-weight: 500;

	&__ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
	}

	&__link {
		text-decoration: none;
		transition: all .1s linear;
		color: #00c0ff;

		&:hover {
			color: #F1B123;
		}
	}
}



/*INTRO*/
.section--intro {
	background-image: url('../assets/images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}

.info-first {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	color: #fff;

	&__title {
		font-size: 175px;
		font-weight: 900;
		transition: filter 3s;
		filter:blur(0px);
	}

	&__text {
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 10%;
		transition: filter 3s;
	}

	&__button {
		max-width: 257px;
		height: 57px;
		width: 100%;
		border-radius: 24px;
		border: none;
		color: #3ea2d8;
		font-weight: 700;
		font-size: 22px;
		cursor: pointer;
		transition: all .2s;
		transition: transform 2s;

		&:hover {
			color: #F1B123;
			background-color: #ccc;
		}
	}
}

/*BLUR*/ 
.blur {
	filter:blur(700px);
}

/*APPEAR*/ 
.scale-in {
	transform: scale(0);
}

/*SECTION--GLOBAL STYLES*/
.section-wrap {
	color: #00c0ff;
	padding: 10% 0;
}

.section-header {
	text-align: center;
	color:#3ea2d8;

	&__text {
		max-width: 1000px;
		margin: 0 auto;
	}
}

/*SECTION--BLACK*/
.section--black {
	background-color: #000;
}

/*SETCION--GREY*/
.section--grey {
	background-color: #222222;
}

/*SECTION--WHO*/
.section-header__title--who {
	font-size: 22px;
	font-weight: 800;

}
.section-header__text--who {
	max-width: 886px;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.74;
}

/*SECTION--WE*/
.section-wrap--we {
	color: #fff;
	display: flex;
	justify-content: space-around;
	padding: 7% 0;
}

.we-block {
	max-width: 350px;
	width: 33.3333%;
	padding: 0 3%;

	&__title {
		margin-bottom: 6%;
		font-size: 19px;
	}

	&__text {
		font-size: 17px;
		line-height: 1.47;
	}
}

/*SECTION--QUOTES*/
.section--quotes {
	background-image: url('/assets/images/priorities-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section-wrap--quotes {
	padding: 5% 0;
}

.section-header__title--quotes {
	font-size: 29px;
	font-weight: 700;
	margin-bottom: 5%;
}

.section-header__text--quotes {
	font-size: 21px;
	font-weight: 500;
	line-height: 1.57;
}

.grid-blocks {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	padding: 8% 0;
}

.quote-card {
	text-align: center;
	background-color: #353535d7;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 4%;
	padding: 0 20%;
	height: 366px;

	&__title {
		font-size: 17px;
		font-weight: 700;
	}

	&__text {
		font-size: 19px;
		font-weight: 400;
		font-family: 'Lora', serif;
		line-height: 1;
	}

/* 	&__sign {
	} */

	&__name {
		font-size: 15px;
		font-weight: 700;
		line-height: 0.5;
	}

	&__position {
		font-size: 19px;
		font-weight: 400;
		font-family: 'Lora', serif;
	}
}

/*SECTION WHAT*/
.section-header__title--what {
	font-size: 29px;
	font-weight: 500;

}
.section-header__text--what {
	font-size: 19px;
	line-height: 1.74;
}

.slider-menu {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;

	&__item {
		margin: 5% 0;
		padding: 1% 3%;
		font-size: 17px;
		font-weight: 500;
		text-align: center;
		cursor: pointer;
		transition: all .2s linear;


		&:hover {
			background-color: #222222;
			color: #F1B123;
			border-radius: 10px;
		}
	}
}

.slider-content {
	transition: all .2s linear;
}

.selected {
	background-color: #222222;
	color: #F1B123;
	border-radius: 10px;
}

.flex-list {
	display: flex;
	justify-content: space-between;
}
.flex-item {
	width: 33%;
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	max-width: 200px;

		&__icon {
			max-width: 100px;
			max-height: 120px;
		}

		&__title {
			font-size: 25px;
			font-weight: 700;
		}

		&__text {
			font-size: 17px;
			font-weight: 400;
		}

		&__sign {
			font-size: 15px;
		}

		&__author {
			font-weight: 700;
		}

		&__position {
			font-weight: 200;
		}
}

.slider-photos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	

	&__img {
		width: 25%;
		object-fit: cover;
		padding: 1%;
		transition: opacity .2s;

		&:hover {
			cursor: pointer;
			opacity: .3;
		}
	}
}


/*SECTION--QUOTE*/
.quote {
	text-align: center;
	font-weight: 600;

	&__text {
		font-size: 21px;
		margin-bottom: 10%;
	}

	&__author {
		font-size: 19px;
	}
}

/*SECTION--GALLERY*/
.section-wrap--gallery {
	display: flex;
	align-items: center;
	position: relative;
	height: 672px;
	padding: 0;
}

.section-header--gallery {
	text-align: left;
	margin: 0;
	width: 50%;
	padding-right: 2%;
}

.section-header__title--gallery {
	font-size: 34px;
	font-weight: 500;

}

.section-header__text--gallery {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
}

.gallery-img {
	left: 50%;
	position: absolute;
	object-fit: cover;
	width: 49.56vw;
	max-height: 672px;
	height: 100%;
}

/*SECTION--FULLSCREEN*/
.section--fullscreen {
	color: #fff;
	background-image: url('../assets/images/full-screen-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 686px;
}

.container--fullscreen {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.btn-section {
	text-align: right;
	width: 40%;

	&__title {
		font-size: 50px;
		font-weight: 700;
	}

	&__text {
		margin-top: 3%;
	}

	&__btn {
		margin-top: 13%;
		text-transform: uppercase;
		color: #00C1FF;
		max-width: 162px;
		cursor: pointer;
	}
}

/*SECTION--PROJECTS*/
.section-wrap--projects {
	padding: 0;
}
.project-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 10% 0;
}

.project-item--reverse {
	flex-direction: row-reverse;
}

.project-content {
	width: 50%;
	padding: 0 5%;
	color: #fff;


		&__date {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 2%;
		}

		&__title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 10%;
		}

		&__text {
			line-height: 1.47;
		}
}
.project-img {
	width: 40%;
	max-height: 140px;
}

/*SECTION--TRIPS*/
.trips {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	color: #fff;
}
.trip-item {
	width: 33.3333%;
	padding: 3%;
		&__name {
			margin-bottom: 3%;
			font-size: 20px;
			font-weight: 600;
		}

		&__date {
			font-size: 18px;
		}
}

/*THIN QUOTE*/
.quote-thin {
	font-weight: 300;
}

/*FOOTER*/
.footer-content {
	display: flex;
	color: #fff;
}
.footer-social {
	width: 50%;
	padding-left: 5%;

		&__title {
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 3%;
		}

		&__text {
			width: 70%;
			line-height: 1.74;
		}
}
.footer-nav {
	width: 50%;
	display: flex;

		&__item {
			padding-right: 15%;
		}

		&__title {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 70%;
		}

		&__list {
			line-height: 1.47;
		}
}

/*BLUE-LINE*/
.blue-line {
	height: 23px;
	background-color: #3ea2d8;
}

/**********MEDIA**********/
@media screen and(max-width: 1200px) {
	/*SECTION--INTRO*/
	.info-first__title {
		font-size: 155px;
	}
	
	.info-first__text {
		line-height: 1.4;
	}

	.info-first__text, .info-first__button {
		font-size: 20px;
	}

	/*SECTION--QUOTES*/ 
/* 	.section--quotes {
		background-size: contain;
	} */

}

@media screen and(max-width: 1100px) {
	/*SECTION--GALLERY*/ 
	.gallery-img {
		width: 50vw;
		position: relative;
		left: 3.2%;
		height: auto;
	}

	.section-wrap--gallery {
		height: auto;
	}

	/*SECTION--FULLSCREEN*/
	.section--fullscreen {
		height: auto;
	}

	.container--fullscreen {
		padding: 5% 3%;
	}
}
	
@media screen and(max-width: 1000px) {
	/*HEADER*/ 	
	.header {
		top: 20px;
	}

	/*BUTTONS*/
	.info-first__button {
		font-size: 18px;
	}
	
	/*SECTION--GALLERY*/
	.section-header__title--gallery {
		font-size: 30px;
	}

	.section-header__text--gallery {
		font-size: 17px;
	}

	/*SECTION--FULLSCREEN*/ 
	.btn-section__title {
		font-size: 40px;
	}

	/*SECTION--QUOTES*/
	.section-header__title--quotes {
		font-size: 26px;
	}
	
	.section-header__text--quotes {
		font-size: 18px;
	}
}

@media screen and(max-width: 900px) {
	/*SECTION--INTRO*/
	.info-first__title {
		font-size: 120px;
	}

	.info-first__text {
		font-size: 17px;
		line-height: 1.3;
	}

	/*SECTION--WHO*/ 
	.section-header__title--who {
		font-size: 20px;
	}

	.section-header__text--who {
		font-size: 17px;
		line-height: 1.47;
	}

	/*SECTION--GRID*/ 
	.section-header__title--quotes {
		font-size: 24px;
		margin-bottom: 3%;
	}

	.section-header__text--quotes {
		font-size: 17px;
	}

	.grid-blocks {
		padding: 5% 0;
	}

	/*SECTION--SLIDER*/ 	
	.section-header__title--what {
		font-size: 24px;
	}

	.section-header__text--what {
		font-size: 17px;
	}

	.flex-item {
		height: 370px;
	}
	.flex-item__icon {
		max-width: 100px;
		max-height: 100px;
	}

	.flex-item__title {
		font-size: 20px;
	}

	/*SECTION-PROJECTS*/ 
	.project-content__title {
		font-size: 20px;
	}
	
	.project-img {
		max-height: 120px;
	}
}

@media screen and(max-width: 800px) {
	/*NAV*/ 
	.nav {
		display: none;
	}

	/*BURGER-MENU ICON*/
	.burger-wrap {
		position: relative;
		flex: 50%;
	}

	.burger-menu {
		width: 40px;
		color: #fff;
		position: absolute;
		top: 50%;
		right: 0;
	}
	
	.burger-menu span {
		background-color: #00C1FF;
		width: 100%;
		height: 3px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		border-radius: 10px;
		transition: all .3s;
	}
		.burger-menu span:before {
			content: "";
			width: 100%;
			height: 3px;
			background-color: #00C1FF;
			top: -9px;
			position: absolute;
			border-radius: 10px;
			transition: all .3s;
		}
		.burger-menu span:after {
			content: "";
			width: 100%;
			height: 3px;
			background-color: #00C1FF;
			bottom: -9px;
			position: absolute;
			border-radius: 10px;
			transition: all .3s;
		}
	
		.burger-menu.active span {
			background-color: rgba(255, 255, 255, 0);
		 }	
	
		 .burger-menu.active span:before {
			top: 0;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
				 transform: rotate(-45deg);
		 }
		 
		 .burger-menu.active span:after {
			bottom: 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				 transform: rotate(45deg);
		 }
	
	/*BURGER-MENU-CONTENT*/ 
	.burger-nav {
		background-color: #000;
		transition: all .4s;
	}
	.nav__ul--burger {
		margin: 0;
		padding: 0;
		flex-direction: column;
		text-align: center;
	}

	.nav__link--burger {
		padding: 3% 0;
	}
	
	/*GRID BLOCKS*/ 
	.grid-blocks {
		grid-template-columns: 50% 50%;
	}


	/*SECTION--WHAT*/
	.section-header__title--what {
		font-size: 26px;
	}

	.section-header__text--what {
		font-size: 17px;
	}

	/*SECTION--QUOTE*/ 	
	.quote__text {
		font-size: 17px;
	}

	.quote__author {
		font-size: 17px;
	}

	/*SECTION--TRIPS*/ 	
	.trip-item__name {
		font-size: 18px;
	}

	.trip-item__date {
		font-size: 16px;
	}

	/*SECTION--GALLERY*/ 
	.section-header__title--gallery {
		font-size: 26px;
	}

	.section-header__text--gallery {
		font-size: 16px;
	}

	/*SLIDER-PHOTOS*/ 
	.slider-photos__img {
		width: 50%;
	}
}

@media screen and(max-width: 700px) {
	/*SECTION--WE*/ 	
	.we-block__title {
		font-size: 17px;
	}

	.we-block__text {
		font-size: 16px;
	}

	/*SECTION--SLIDER*/ 
	.flex-item {
		height: 320px;
		padding: 0 2%;
	}
	.flex-item__icon {
		max-height: 80px;
	}

	.flex-item__title {
		font-size: 17px;
	}

	.flex-item__text {
		font-size: 15px;
	}

	/*SECTION--FULLSCREEN*/ 
	.container--fullscreen {
		align-items: center;
	}

	.btn-section {
		text-align: center;
		width: 90%;

		&__btn {
			margin-top: 10%;
		}
	}
	
	/*SECTION--TRIPS*/ 	
	.trip-item__name {
		font-size: 16px;
	}

	.trip-item__date {
		font-size: 15px;
	}
	
	/*FOOTER*/ 	
	.footer-social__title {
		font-size: 20px;
	}

	.footer-social__text {
		line-height: 1.47;
		font-size: 15px;
	}

	.footer-nav__title {
		margin-bottom: 12%;
	}

	.footer-nav__item {
		padding-right: 12%;
	}
}

@media screen and(max-width: 650px) {
	/*SECTION--SLIDER*/ 
	.flex-list {
		display: block;
	}

	.flex-item {
		margin: 0 auto;
		height: 220px;
		width: 100%;
		max-width: 85%;
		margin-bottom: 12%;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media screen and(max-width: 600px) {
	/*SECTION--WRAP*/ 
	.section-wrap {
		padding: 6% 0;
	}
	
	/*SECTION--WE*/ 
	.section-wrap--we {
		display: block;
	}

	.we-block {
		width: 90%;
		margin: 7% auto;
		text-align: center;
		max-width: 100%;

		&__title {
			margin-bottom: 1%;
		}
	}

	/*SECTION--GALLERY*/ 
	.section-wrap--gallery {
		flex-direction: column;
	}

	.section-header--gallery {
		text-align: center;
		padding: 4%;
		width: 100%;
	}
	
	.gallery-img {
		width: 106.3%;
		left: 0;
		padding-bottom: 10%;
	}


	/*SECTION--PROJECTS*/
	.project-content {
		padding: 0 3%;

		&__title {
			font-size: 18px;
		}

		&__date {
			font-size: 16px;
		}

		&__text {
			font-size: 15px;
		}
	}

	/*SECTION--TRIPS*/ 
	.trips {
		display: block;
	}

	.trip-item {
		width: 100%;
		padding: 4%;

		&__name {
			margin-bottom: 1%;
		}
	}

	/*SECTION--FOOTER*/ 
	.footer-content {
		flex-wrap: wrap;
	}

	.footer-social {
		width: 100%;
		text-align: center;
		padding: 0 2% 0 2%;

		&__text {
			width: 100%;
		}
	}

	.footer-nav {
		width: 100%;
		justify-content: space-between;
		text-align: center;
		padding: 10% 5% 0 5%;

		&__item {
			padding: 0;
		}
	}
}

@media screen and(max-width: 550px) {
	/*HEADER*/ 
	.header {
		height: 45px;
	}
	
	/*SECTION--INTRO*/ 
	.info-first__title {
		font-size: 110px;
	}

	.info-first__text {
		font-size: 15px;
	}


}

@media screen and(max-width: 500px) {
	/*SECTION--WHO*/ 
	.section-header__title--who {
		font-size: 18px;
	}

	.section-header__text--who {
		font-size: 15px;
	}

	/*SECTION--QUOTES*/ 
	.section-header__title--quotes {
		font-size: 20px;
	}

	.section-header__text--quotes {
		font-size: 16px;
	}

	/*SECTION--WHAT*/ 
	.section-header__title--what {
		font-size: 22px;
	}

	.section-header__text--what {
		font-size: 15px;
	}

	/*SECTION--GALLERY*/ 
	.section-header__title--gallery {
		font-size: 22px;
	}

	.section-header__text--gallery {
		font-size: 15px;
	}
	
	/*SECTION--SLIDER*/ 
	.slider-menu {
		flex-direction: column;

		
		&__item {
			margin: 3% 0;

			&:first-of-type {
				margin-top: 7%;
			}

			&:last-of-type {
				margin-bottom: 7%;
			}
		}
	}

	/*SECTION--PROJECTS*/ 
	.project-item {
		flex-direction: column-reverse;
	}

	.project-content {
		width: 100%;
	}

	.project-content__title {
		margin-bottom: 1.5%;
	}

	.project-img {
		margin-bottom: 5%;
		max-height: 100px;
	}

	/*SECTION--FOOTER*/ 
	.footer-nav__title {
		font-size: 16px;
	}

	.footer-nav__list {
		font-size: 15px;
	}
}

@media screen and(max-width: 450px) {
	/*SECTION--INTRO*/ 
	.info-first__title {
		font-size: 90px;
	}

	.info-first__button {
		font-size: 16px;
		max-width: 220px;
		height: 50px;
	}

	/*SECTION--GRID*/ 
	.grid-blocks {
		grid-template-columns: 100%;
	}

	.quote-card {
		padding: 0 10%;
		height: 300px;
	}

	/*SLIDER-PHOTOS*/ 
	.slider-photos__img {
		width: 100%;
		object-fit: cover;
	}
}

/*GETTING VISIBLE & HIDDEN*/
.visible {
	visibility: visible;
	opacity: 1;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.none {
	display: none;
}
